body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    background-color: white;
    box-sizing: border-box;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.brand-background {
    margin-top: 2rem;
}

.category-background {
    margin-top: 2rem;
}

.brand-container {
    width: 100%;
}

.brand-title {
    font-size: 2rem;
    font-weight: 800;
}

.brand-logo {
    width: 7rem;
    height: 3rem;
}

.brand-logo:hover {
    cursor: pointer;
}

.category-button {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 3rem;
}

/* Cart */

.product-card {
    width: 27%;
    height: 28rem;
    margin: 2rem 1rem;
    border: solid;
    padding: 1rem;
}

.product-card-column {
    width: 100%;
    height: 100%
}

.product-photo {
    width: 100%;
    height: 18rem;
}

.product-name {
    font-size: 1rem;
    font-weight: 600;
}

.product-category {
    font-size: 0.7rem;
}

.product-price {
    font-size: 1.2rem;
    font-weight: 800;
}

.product-button-container {
    width: 100%;
}




