/* Footer */

.footer-background {
    margin: 0;
    margin-top: 6rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: url(../images/footer-background.jpg);
}

.footer-header {
    font-size: 1.2rem;
    font-weight: 800;
}

.footer-list {
    list-style-type: none;
}

.footer-link {
    color: black;
    font-size: 0.9rem;
    font-weight: 600;
}

.footer-link:link {
    text-decoration: none;
}

.footer-link:hover {
    color: rgb(255, 102, 112);
}

.footer-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}

.footer-icon {
    font-size: 2.5rem;
    letter-spacing: 1rem;
}

.footer-icon i:hover {
    cursor: pointer;
    color: rgb(255, 102, 112);
}
